#aboutbody{
	padding:0px;
	margin:0px;
	background-image: url("Cropbackground.jpg");
	background-repeat:no-repeat;
}
#pageOptions{
	list-style-type: none;
	padding: 0px;
}

#content{
	right:0px;
	position:absolute;
	padding:5px;
	width: 40%;
	font-family: "Lucida Console", monospace;
	font-size: 16pt;
	line-height: 30px;
	background-color: lavender;

	overflow:hidden;
}
#content p{
	margin-right:20%;
}
#sidebar{
	
	left:0;
	padding: 0px;
	position: absolute;
	
	height: 100%;
	overflow:hidden;
	
}
.tab{
	border-bottom:1px LightGray solid;
	margin:auto;
	margin-bottom:0px;
	float:left;
	clear: left;
	min-width:90px;
	width:100%;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left:15px;
	padding-right: 10px;
	text-align:left;
	min-height:30px;
	line-height:30px;
	font-size:22pt;
	font-family: "Lucida Console", monospace;
	
}
a{
	color:inherit;
}
.active{
	background-color: lavender;
}
.tab:hover{
	background-color: lavender;
	border-bottom: 1px gray solid;
}
span{
	display:inline-block;
	vertical-align:middle;
	line-height:normal;
}
h2{
	margin:10px;
	font-size:30pt;
	font-family: "Trebuchet MS", Sans-Serif;
}

