body{
	padding:0px;
	margin:0px;
	background-image: url("background.jpg");
}
#pageOptions{
	list-style-type: none;
	padding: 0px;
	
	
	
	
}
#sidebar{
	
	float: left;
	padding: 0px;
	position: absolute;
	
	height: 100%;
	overflow:hidden;
	font-family: sans-serif;
}
.tab{
	border-top:1px LightGray solid;
	border-bottom:1px LightGray solid;
	margin:auto;
	margin-bottom:0px;
	float:left;
	clear: left;
	width:100%;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left:15px;
	padding-right: 10 px;
	text-align:left;
	min-height:30px;
	line-height:30px;
	font-size:20pt;
}
span{
	display:inline-block;
	vertical-align:middle;
	line-height:normal;
}
h2{
	margin:10px;
}

